### Import the functions written in the query_helper.py file

In [1]:
!pip install regex

Requirement already satisfied (use --upgrade to upgrade): regex in /opt/conda/lib/python3.5/site-packages
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
!pip install psycopg2

Requirement already satisfied (use --upgrade to upgrade): psycopg2 in /opt/conda/lib/python3.5/site-packages
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import psycopg2 as pg2
import pandas as pd
import re

### Write Functions to Query from the Tables Created

In [4]:
from os import chdir
chdir('/home/jovyan/')

In [121]:
import library.db_helper as db
import library.functions as fy

In [122]:
con, cur = db.connect_to_db()

### Insert content into the created tables (which are currently empty)

In [31]:
# define function to pass in category_name and category_id

def insert_category (id_no, name):
    '''
    grab category names and ids and push into the postsql db
    '''
    db.connect_to_db()
    con, cur = db.connect_to_db()
    
    query = '''
            BEGIN;
            INSERT INTO category VALUES ({}, '{}');
            COMMIT;
            '''.format(id_no, name)
    
    cur.execute(query)

In [7]:
CATEGORY_df = pd.read_pickle('./data/CATEGORY_df.p')

In [8]:
CATEGORY_df.reset_index(inplace=True, drop=True)

In [10]:
CATEGORY_df['category'] = [category[9:] for category in CATEGORY_df['category']]
# drop the word "Category:" from my category names before pushing it into my PostgreSQL table

In [17]:
CATEGORY_df['category'] = CATEGORY_df['category'].apply(lambda x: fy.text_cleaner(x))

In [18]:
CATEGORY_df.head()

                     category  categoryid
0            machine learning          43
1    applied machine learning           1
2  artificial neural networks           3
3           bayesian networks           4
4   classification algorithms          12

In [23]:
# clean out the category db that was previously created 

delete_cat_query = '''
BEGIN;
DELETE FROM category;
COMMIT;
'''

cur.execute(delete_cat_query)

In [24]:
# query = '''
# SELECT *
# FROM category
# LIMIT 1
# '''
# 
# cur.execute(query)

In [32]:
for i in CATEGORY_df.index:
    insert_category(CATEGORY_df.iloc[i,1], CATEGORY_df.iloc[i,0])

In [36]:
query = '''
SELECT * 
FROM category
'''

db.query_to_dataframe(query)

    cid                                            name
0    43                                machine learning
1     1                        applied machine learning
2     3                      artificial neural networks
3     4                               bayesian networks
4    12                       classification algorithms
5    13                                cluster analysis
6    15                   computational learning theory
7     2             artificial intelligence conferences
8    16       data mining and machine learning software
9    17                    datasets in machine learning
10   19                             dimension reduction
11   21                               ensemble learning
12   23                         evolutionary algorithms
13   26                             genetic programming
14   30                     inductive logic programming
15   33             kernel methods for machine learning
16   34                          latent variable models
17   35                     learning in computer vision
18   36                               log linear models
19   37                                  loss functions
20   39                     machine learning algorithms
21   40                         machine learning portal
22   42                           machine learning task
23   46                                   markov models
24   41                    machine learning researchers
25   54                         semisupervised learning
26   56         statistical natural language processing
27   57                           structured prediction
28   58                             supervised learning
29   59                         support vector machines
..  ...                                             ...
34    6                     business software companies
35    7                     business software for linux
36    8                     business software for macos
37    9                   business software for windows
38   14                          collaborative software
39   18             dental practice management software
40   22                             enterprise software
41   20                                    erp software
42   24                              financial software
43   25                          free business software
44   27                                 health software
45   28                             healthcare software
46   29              human resource management software
47   32                        java enterprise platform
48   44                          manufacturing software
49   45                              marketing software
50   38                                    mes software
51   47                        mobile business software
52   48                                 office software
53   49                                 portal software
54   50                     project management software
55   51                             publishing software
56   52                              reporting software
57   53                        risk management software
58   55  service oriented architecture related products
59   60                                    tax software
60   61              telecommunications billing systems
61   63                             workflow technology
62   31           industry specific xml based standards
63   10                         business software stubs

[64 rows x 2 columns]

In [37]:
def insert_page (id_no, title, text):
    '''
    grab page ids, titles, and text, and then push into the postsql db
    '''
    db.connect_to_db()
    con, cur = db.connect_to_db()
    
    query = '''
            BEGIN;
            INSERT INTO page VALUES ({}, '{}', '{}');
            COMMIT;
            '''.format(id_no, title, text)
    
    cur.execute(query)

In [38]:
PAGE_df = pd.read_pickle('./data/PAGE_df.p')

In [39]:
PAGE_df.head()

,pageid,title,text
0,54972729,User:CustIntelMngt/sandbox/Customer Intelligen...,this is not a wikipedia article it is an indiv...
1,43385931,Data exploration,this article has multiple issues please help i...
2,49082762,List of datasets for machine learning research,machine learning anddata miningproblemsclassif...
3,233488,Machine learning,for the journal see machine learning journal m...
4,53587467,Outline of machine learning,the following outline is provided as an overvi...

In [66]:
import re

In [40]:
PAGE_df['title'] = PAGE_df['title'].apply(lambda x: fy.text_cleaner(x))

In [41]:
PAGE_df.shape

(2787, 3)

In [42]:
PAGE_df.drop_duplicates('title', inplace=True)

In [44]:
PAGE_df.shape

(2439, 3)

In [47]:
PAGE_df.reset_index(inplace=True)

In [55]:
delete_page_query = '''
BEGIN;
DELETE FROM page;
COMMIT;
'''

cur.execute(delete_page_query)

In [56]:
for i in PAGE_df.index:
    insert_page(PAGE_df.iloc[i,0], PAGE_df.iloc[i,1], PAGE_df.iloc[i,2])

In [97]:
query = '''
SELECT * 
FROM page
'''

db.query_to_dataframe(query)

,pid,text,title
0,48844125,this article is an orphan as no other articles...,structured sparsity regularization
1,2506529,this article has multiple issues please help i...,cellular neural network
2,33085387,this article has multiple issues please help i...,computhink
3,8160211,a block diagram of the cmac system for a singl...,cerebellar model articulation controller
4,1917193,choose and book was an e booking software appl...,choose and book
5,38156432,this article is about the cellular automaton f...,codi
6,36251938,clinicalkey is a medical search engine and dat...,clinicalkey
7,26266110,competitive learning is a form of unsupervised...,competitive learning
8,54972729,this is not a wikipedia article it is an indiv...,user custintelmngt sandbox customer intelligen...
9,43385931,this article has multiple issues please help i...,data exploration
10,49082762,machine learning anddata miningproblemsclassif...,list of datasets for machine learning research
11,233488,for the journal see machine learning journal m...,machine learning
12,53587467,the following outline is provided as an overvi...,outline of machine learning
13,43932548,this article has multiple issues please help i...,random projection
14,19667111,statistical relational learning srl is a subdi...,statistical relational learning
15,47845063,the stochastic block model is a generative mod...,stochastic block model
16,54936314,this page is a new unreviewed article this tem...,draft alldone io
17,40974572,this article has multiple issues please help i...,apache allura
18,25271046,this article needs additional citations for ve...,artemis software
19,51791684,aurigo softwaretypeprivateindustrycomputer sof...,aurigo software
20,31200881,this article contains content that is written ...,axosoft
21,21589444,not to be confused with the computer jargon te...,bitbucket
22,898290,a bug tracking system or defect tracking syste...,bug tracking system
23,29724958,this article has multiple issues please help i...,capital program and project management software
24,14569194,sprogstable release july operating systemcro...,sprog software
25,3771060,the accuracy paradox for predictive analytics ...,accuracy paradox
26,43808044,machine learning anddata miningproblemsclassif...,action model learning
27,28801798,this article is about a machine learning metho...,active learning machine learning
28,45049676,adversarial machine learning is a research fie...,adversarial machine learning
29,52642349,aivanationalityluxembourgishstyleclassical mus...,aiva
...,...,...,...
2409,21716479,this article has an unclear citation style the...,lotus foundations
2410,12764686,the topic of this article may not meet wikiped...,lotus impress
2411,31216734,the topic of this article may not meet wikiped...,metro format
2412,6095113,microsoft interconnectdeveloper s microsoft ja...,microsoft interconnect
2413,22630106,this article does not cite any sources please ...,microsoft office
2414,20237578,microsoft office macintosh editionthe box for...,microsoft office macintosh edition
2415,2675098,microsoft office accountingdeveloper s microso...,microsoft office accounting
2416,2018323,mini office iibox cover of mini office ii for ...,mini office ii
2417,3062614,screenshot of plan runningplan is a calendar a...,plan calendar program
2418,1441125,mondex logo since the mastercard takeover mond...,mondex
2419,5232022,moneydancedeveloper s the infinite kind former...,moneydance
2420,4991466,for the term other government agency see oga o...,office genuine advantage
2421,25034980,openmeetingsdeveloper s maxim solodovnik sebas...,openmeetings
2422,4767593,this article contains content that is written ...,pivot chart
2423,456424,postscript printer descriptionfilename extensi...,postscript printer description
2424,48254824,reflex was a d building design software applic...,reflex building design software
2425,22628313,reliable messaging is the concept of communica...,reliable messaging
2426,2438634,this article needs additional citations for ve...,sage accounting
2427,9636465,this article has multiple issues please help i...,salary calculator
2428,19539906,this article is an orphan as no other articles...,sap transport management system
2429,327999,sasi schools administrative student informatio...,sasi software
2430,26723213,sentinel is a software case management system ...,sentinel fbi
2431,26178912,this article needs additional citations for ve...,sierra chart
2432,48253668,sonata was a d building design software applic...,sonata building design software
2433,1966364,supercalcsupercalc for ms dos developer s sorc...,supercalc
2434,5192200,taurus transfer and automated registration of ...,taurus share settlement
2435,1131405,this article needs additional citations for ve...,tress
2436,8838142,ibm unica netinsightdeveloper s ibminitial rel...,ibm unica netinsight
2437,9818995,this article does not cite any sources please ...,wang office
2438,5794691,this article is about the computer term for th...,whiteboarding

In [23]:
# REVISIT LATER!
# df.apply(lambda x: insert_category(x.name, x.cid), axis=1)
# look at documentation for lambda and axes to quadruple check, for my own edification also

# CATEGORY_df

NameError: name 'category' is not defined

In [197]:
total_df = pd.read_pickle('./data/total_df.p')

In [198]:
total_df.head()

,ns,pageid,title,category,text
0,2,54972729,User:CustIntelMngt/sandbox/Customer Intelligen...,Category:Machine_learning,this is not a wikipedia article it is an indiv...
1,0,43385931,Data exploration,Category:Machine_learning,this article has multiple issues please help i...
2,0,49082762,List of datasets for machine learning research,Category:Machine_learning,machine learning anddata miningproblemsclassif...
3,0,233488,Machine learning,Category:Machine_learning,for the journal see machine learning journal m...
4,0,53587467,Outline of machine learning,Category:Machine_learning,the following outline is provided as an overvi...

In [199]:
total_df.shape

(2787, 5)

In [200]:
# total_df.drop('ns', axis=1, inplace=True)

In [201]:
# total_df = total_df.drop(total_df.index[[0]])
# total_df.shape
# total_df.sample(5)

In [202]:
# total_df.drop_duplicates('text', inplace=True)
# total_df.shape

In [203]:
from sklearn.preprocessing import LabelEncoder

In [204]:
le = LabelEncoder()

In [205]:
total_df['category_id'] = le.fit_transform(total_df['category'])

In [206]:
CATEGORY_PAGE_df = total_df[['pageid', 'category_id']]

In [207]:
CATEGORY_PAGE_df.columns

Index(['pageid', 'category_id'], dtype='object')

In [208]:
def insert_category_page (page_id, category_id):
    
    db.connect_to_db()
    con, cur = db.connect_to_db()
    
    query = '''
    BEGIN;
    INSERT INTO category_page VALUES ({}, {});
    COMMIT;
    '''.format(page_id, category_id)
    
    cur.execute(query)

In [209]:
# CATEGORY_PAGE_df.iloc[0, 0], CATEGORY_PAGE_df.iloc[0, 1]

In [210]:
# CATEGORY_PAGE_df.info()

In [211]:
delete_catpage_query = '''
BEGIN;
DELETE from category_page;
COMMIT;
'''

cur.execute(delete_catpage_query)

In [212]:
for i in CATEGORY_PAGE_df.index:
    insert_category_page(CATEGORY_PAGE_df.iloc[i,0], CATEGORY_PAGE_df.iloc[i,1])

In [213]:
query = '''
SELECT *
FROM category_page
'''

db.query_to_dataframe(query)

      category_cid  page_pid
0               43  54972729
1               43  50211107
2               43  28255458
3               43   1455062
4               43   1041204
5               43  48827727
6               43    871681
7               43  40946774
8               43   3290880
9               43   3119546
10               1  53631046
11               1   2876802
12               3    349771
13               3  54550729
14               3  51002645
15               3   7049330
16               3  21393064
17               3  33742232
18               4    203996
19              12   5481056
20              12  13750669
21              12     98974
22              12    172777
23              13    547949
24              15  41180634
25               2   3358541
26              16  49853144
27              16   7688277
28              16  47012074
29              16  39478785
...            ...       ...
2757            10   9788607
2758            10  25034980
2759            10   1699107
2760            10   3069932
2761            10   4767593
2762            10   3062614
2763            10    456424
2764            10  18532395
2765            10  15530023
2766            10  48254824
2767            10  22628313
2768            10   2438634
2769            10   9636465
2770            10  19539906
2771            10    327999
2772            10  26723213
2773            10  26178912
2774            10  48253668
2775            10  14569194
2776            10  47534615
2777            10   1966364
2778            10   5192200
2779            10   1131405
2780            10   8838142
2781            10   9818995
2782            10  51567252
2783            10   5794691
2784            10  50315118
2785            10   3234557
2786            10   4260606

[2787 rows x 2 columns]